*
!*.*
!*/

!Makefile

*.pb.go
*.micro.go

.idea
.idea/*

*.exe
.exe
.exe~

vendor
*.db
go.sum

.DS_Store
*/.DS_Store

*.log
*.log.*

api/webproxy/webproxy.log.*
api/*/*.log

*.zip

*/logs
ego.sys

node_modules

.vscode
.zip

server.json

cmd/server/server.json